parameters:
    autoload_files:
        #- %rootDir%/../../../src/Paws.php
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../config/*
        - %rootDir%/../../../bootstrap/*